<div id="aboutSection" class="blanket about">
  <p class="aboutSentence">Hello</p>
  <p class="aboutSentence">My name is</p>
  <p class="aboutSentence strong">JUNXIANG ZHOU</p>
  <p class="aboutSentence">I am a</p>
  <p class="aboutSentence">
    <span class="aboutRole" ng-show="roles[0]">Full Stack Engineer</span>
    <span class="aboutRole" ng-show="roles[1]">Front-end Engineer</span>
    <span class="aboutRole" ng-show="roles[2]">Back-end Engineer</span>
  </p>
  <p class="aboutSentence link" ui-sref="resume">Please check my resume</p>
</div>
