<div id="projectsSection">
  <div class="logo" ui-sref="main">JZ</div>
  <h1>Projects</h1>
  <div class="grid">
    <div class="grid-sizer"></div>
    <div class="grid-item grid-item--width3">
      <div class="ih-item square effect6 from_top_and_bottom">
        <a href="http://junzhou365.com/catalog">
          <div class="img"><img src="images/catalog.png" alt="Catalog App"></div>
          <div class="info"> <h3>Catalog App</h3> <p></p> </div>
        </a>
      </div>
    </div>
    <div class="grid-item grid-item--width2">
      <div class="ih-item square effect6 from_top_and_bottom">
        <a href="http://junzhou365.com/frogger">
          <div class="img"><img src="images/frogger.png" alt="Frogger Game"></div>
          <div class="info"> <h3>Frogger Game</h3> <p></p> </div>
        </a>
      </div>
    </div>
    <div class="grid-item grid-item--width3">
      <div class="ih-item square effect6 from_top_and_bottom">
        <a href="http://jz365-wiki.appspot.com/">
          <div class="img"><img src="images/miniWiki.png" alt="Mini Wiki"></div>
          <div class="info"> <h3>Mini Wiki</h3> <p></p> </div>
        </a>
      </div>
    </div>
  </div>
</div>
