<div id="resumeSection">
  <div class="logo" ui-sref="main">JZ</div>
  <div class="resumeContent">
    <div data-sr class="resumeContainer resumeFirst">
      <h1>JUNXIANG "JULIAN" ZHOU</h1>
      <p>junzhou365@gmail.com</p>
    </div>
    <div data-sr class="resumeContainer">
      <h2>SKILLS</h2>
      <p>Python, C/C++, Java, Assembly, JavaScript, HTML/CSS, Latex</p>
      <p>Spring Framework, Hibernate, AngularJS, Hadoop, Google App Engine, Flask</p>
    </div>
    <div data-sr class="resumeContainer">
      <h2>education</h2>
      <h3>M.S. in Electrical and Computer Engineering</h3>
      <p>Northeastern University</p>
      <p>Boston, MA, 2011/09-2014/01</p>
      <h3>B.E. in Electrical Engineering</h3>
      <p>Chongqing University of Technology</p>
      <p>China, 2007-2011</p>
    </div>
    <div data-sr class="resumeContainer">
      <h2>Work Experience</h2>
      <h3>Software Test Engineer</h3>
      <p>Dealfar, LLC – Troy, NY | 2014/03-2015/10</p>
      <!-- <ul> -->
        <p>Created, reviewed and maintained test cases for web applications. Achieved nearly 95 percent code coverage.<p>
        <p>Developed reusable automated test scripts to test front end in Selenium Web Drive.<p>
        <p>Reviewed functional requirements and design documents, and wrote bug reports.<p>
      <!-- </ul> -->
    </div>
    <div data-sr class="resumeContainer">
      <h3>Software Engineer, Intern</h3>
      <p>Anhui USTC iFLYTEK CO., Ltd – Hefei, China | 2013/05-2013/08</p>
      <!-- <ul> -->
        <p>Implemented a 128-point Fast Fourier Transform (FFT) program in assembly on a CISC MCU.</p>
        <p>Managed to run the program smoothly with the limited 46MHz CPU and 2K RAM.</p>
        <p>Programmed the front-end of voice-recognition system in Assembly; the front-end in assembly is 90% faster than it was in C. 2500 lines of Assembly code.</p>
      <!-- </ul> -->
    </div>
    <div data-sr class="resumeContainer">
      <h2>projects</h2>
      <h3>Catalog App</h3>
      <a href="http://www.junzhou365.com/catalog">junzhou365.com/catalog</a>
      <!-- <ul> -->
        <P>Designed a secure Single Page Application built with the Spring Framework, and AngularJS, hosted on AWS EC2.</P>
        <P>Authorized users can create categories, categorize items and store items’ descriptions and images.</P>
        <P>Implemented a secure RESTful API server with Spring Boot in Java using Java-based configuration.</P>
        <P>Implemented CRUD with PostgreSQL and Hibernate and configured authentication and CSRF protection.</P>
        <P>B1uilt front-end, which interacts with backend through HTTP and JSON, with AngularJS, Bootstrap, and Less CSS.</P>
      <!-- </ul> -->
    </div>
    <div data-sr class="resumeContainer">
      <h3>Conference App</h3>
      <a href="http://www.sixth-embassy-827.appspot.com">sixth-embassy-827.appspot.com</a>
      <!-- <ul> -->
        <P>Implemented an API server to support a provided conference organization application using Google Cloud Endpoints.</P>
        <P>Designed various Endpoints methods to create, update, delete and query conferences, sessions, and user wishlist.</P>
        <P>Developed methods to retrieve featured speakers from Memcache and assign task of finding them to Task Queue. </P>
      <!-- </ul> -->
    </div>
  </div>
</div>
