@borderColor: rgba(0,0,0,0.3);

body {
  margin: 0;
  // background: #000;
}
#main {
  margin: 0;
  background: #000;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

.blanket {
  background: @borderColor;
  width: 20%;
  // height: 100px;
  margin: 1.5rem;
  padding: 2rem;
}
div#jun, div#contact, div#games, div#projects, div#about {
  font-family: Agenda-Light, 'Agenda Light', Agenda, 'Arial Narrow', sans-serif;
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  letter-spacing: .3rem;
  border-style: solid;
  border-width: 0px;
  border-color: @borderColor;
  color: white;
  &:hover {
      border-width: 4px; // helper.js is 4px;
      cursor: pointer;
  }
}

div#jun {
  
}

.line(@direction) {
    // background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Safari 5.1 to 6.0 */
    // background: -o-linear-gradient(@direction, rgba(0,0,0,1), rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
    // background: -moz-linear-gradient(@direction, rgba(0,0,0,1), rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
    // background: linear-gradient(to @direction, rgba(0,0,0,1), rgba(0,0,0,0)); /* Standard syntax (must be last) */
    background: black;
}

div#line_about {
  .line(left);
}

div#line_contact {
  .line(right);
}

div#line_projects {
  .line(top);
}

div#line_games {
  .line(bottom);
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('sail.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade {
 opacity: .5;
}
